<h1>Editing crime_alert</h1>

<%= render 'form' %>

          <td><%= link_to 'Show', crime_alert %></td>
          <td><%= link_to 'Edit', edit_layer_crime_alert_path(crime_alert) %></td>
          <td><%= link_to 'Destroy', crime_alert, :confirm => 'Are you sure?', :method => :delete %></td>
<%= link_to 'Show', crime_alert %> |
<%= link_to 'Back', layers_crime_alerts_path %>
