<% content_for :title, @crime_alert.happened.to_s %>

<h2 class="breadcrumb">
        <%= link_to "Home", root_path %>&nbsp;/&nbsp;
        <%= link_to @layer.name, @layer %>&nbsp;/&nbsp;
</h2>

<div class="main-title">
        <h1>Editing Crime Alert <%= @crime_alert.happened.to_s %></h1>
</div>
<span>
        <%= render 'form' %>
</span>

<%= link_to 'Show', [@layer, @crime_alert] %>
