<% content_for :title do %>
  Editing Test For Call Box <%= @cb_test.cb_number.to_s %>
<% end %>
<h2 class="breadcrumb">
        <%= link_to "Home", root_path %>&nbsp;/&nbsp;
        <%= link_to "Tests", cb_tests_path %>&nbsp;/&nbsp;
        <%= link_to @cb_test.cb_number.to_s, cb_test_path(@cb_test) %>
</h2>

<div class="main-title">
        <h1>Editing Test For Call Box <%= @cb_test.cb_number.to_s %></h1>
</div>
<span>
        <%= render 'form' %>
</span>

