<% if !call_boxes.empty? %>
  <table cellpadding="0" cellspacing="0" width="100%" class="elements">
    <thead>
      <tr class="cat_title">
        <th>Cb num</th>
        <th>Cb type</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Aproximate?</th>
        <th>Notes</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% call_boxes.each do |call_box| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td><%= link_to layer_call_box_path(@layer, call_box) do %><h2><%= call_box.cb_num %></h2><% end %></td>
          <td><%= call_box.cb_type %></td>
          <td><%= call_box.latitude %></td>
          <td><%= call_box.longitude %></td>
          <td><%= call_box.aproximate %></td>
          <td><%= call_box.notes %></td>
          <td><%= link_to 'Edit', edit_layer_call_box_path(@layer, call_box), :class => 'edit-link' %></td>
          <td><%= link_to 'Remove', layer_call_box_path(@layer, call_box), :confirm => 'Are you sure?', :method => :delete, :class => 'cancel-link' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
