<% content_for :title, @call_box.cb_num.to_s %>

<h2 class="breadcrumb">
        <%= link_to "Home", root_path %>&nbsp;/&nbsp;
        <%= link_to @layer.name, @layer %>&nbsp;/&nbsp;
        <%= link_to @call_box.cb_num, [@layer, @call_box] %>
</h2>

<div class="main-title">
        <h1>Editing Call Box <%= @call_box.cb_num.to_s %></h1>
</div>
<span>
        <%= render 'form' %>
</span>
