<% content_for :js_ready do %>
    <% CallBox.include_root_in_json = false %>
    var call_box = <%=raw @call_box.to_json() %>;
    
    var map = setup_map(call_box, 17);
    add_point_to_map(call_box, map);
<% end %>

<% content_for :title do %>
  Call Box <%= @call_box.cb_num.to_s %>
<% end %>

<h2 class="breadcrumb">
        <%= link_to "Home", root_path %>&nbsp;/&nbsp;
        <%= link_to @layer.name, @layer %>&nbsp;/&nbsp;
</h2>

<div class="main-title">

        <%= @call_box.cb_num.to_s %>

        <%= map_canvas(:style => "width: 50%; height:200px; float:right;") %>

</div>

<div id="info_box">
		<b>Call Box Type:</b>
		<%= @call_box.cb_type %>
                <br />
		<b>Coordinates:</b>
		<%= @call_box.latitude %>, <%= @call_box.longitude %>
                <br />
                <b>Aproximate?</b>
                <%= @call_box.aproximate %>
                <br />
		<b>Notes:</b>
		<%= @call_box.notes %>
                <br />
</div>
<div style="clear: both; margin: 10px;"></div>
<%= link_to 'Edit', edit_layer_call_box_path(@layer, @call_box), :class => 'link-button' %>
<%= link_to 'Remove', layer_call_box_path(@layer, @call_box), :confirm => 'Are you sure you want to remove this call box?', :method => :delete, :class => 'link-button' %>
<% if !@cb_tests.empty? %>
<div class="hr_dl flush" style="clear: both; margin: 10px -20px;"><%= image_tag("bl.png", :alt => "") %></div>
<div class="mc-indent">
  <h2 id="cb_tests">Call Box Tests <%= link_to 'Add', new_cb_test_path, :class => "link-button" %></h2>
  <table cellpadding="0" cellspacing="0" width="100%" class="elements">
    <thead>
      <tr class="cat_title">
        <th>Cb number</th>
        <th>Tested on</th>
        <th>Keypad</th>
        <th>Key light</th>
        <th>Call fn</th>
        <th>Dtmf</th>
        <th>Blue light</th>
        <th>Response test</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @cb_tests.each do |cb_test| %>
      <tr>
        <td><%= link_to cb_test_path(cb_test) do %><h2><%= cb_test.cb_number %></h2><% end %></td>
        <td><%= cb_test.tested_on %></td>
        <td><%= cb_test.keypad %></td>
        <td><%= cb_test.key_light %></td>
        <td><%= cb_test.call_fn %></td>
        <td><%= cb_test.DTMF %></td>
        <td><%= cb_test.blue_light %></td>
        <td><%= cb_test.response_test %></td>
        <td><%= link_to 'Edit', edit_cb_test_path(cb_test), :class => 'edit-link' %></td>
        <td><%= link_to 'Remove', cb_test_path(cb_test), :confirm => 'Are you sure?', :method => :delete, :class => 'cancel-link' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<% end %>
<br/>
